@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,600&display=swap");

body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* HEADER SECTION */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-image: linear-gradient(90deg, #1f4e5f, #274156);
}

h1 {
  font-family: "DM Sans", sans-serif;
  color: #ebebeb;
  text-transform: uppercase;
}

nav {
  width: 50%;
  border-radius: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav li a,
nav li {
  text-decoration: none;
  list-style: none;
  color: #ebebeb;
}

nav ul li:hover,
nav li a:hover {
  transform: scale(1.1);
  font-weight: bold;
  transition: 0.1s ease-out;
}

/* MAIN SECTION */
main {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.store-item {
  padding: 1rem;
  box-shadow: 0 0 10px 2px #f0f0f0;
  border: 1px solid #274156;
  border-radius: 2rem;
  text-align: center;
}

.store-item:hover {
  transform: scale(1.1);
}

.store-item p:first-of-type {
  color: #1f4e5f;
  font-weight: bold;
}

.store-item span {
  margin-right: 10px;
  font-weight: bold;
  color: #1f4e5f;
}

img {
  width: 200px;
  height: 200px;
  grid-area: img;
}

/* FOOTER*/
footer {
  background-image: linear-gradient(90deg, #274156, #1f4e5f);
  text-align: center;
  color: white;
  margin-top: auto;
}
